<!DOCTYPE html>
<html lang="en">
  <!-- Header partial -->
  <%- include("../partials/header.ejs") %>
  <main>
    <body>
      <h2 class="container">Dashboard</h2>
      <!-- Card generation -->
      <div class="container">
        <!-- Loops through each post and generates a card for it. -->
        <% posts.forEach(post => { %>
        <!-- Represents a card for each post with a data attribute for the post ID. -->
        <!-- data-id attribute is used instead of id because post.id is reused in more then 1 element (edit/delete icons + card itself), 
                since id attributes must be unique within the HTML document -->
        <div class="card" data-id="<%= post.id %>">
          <div class="card-header">
            <h3 class="card-title"><%= post.title %></h3>
            <div class="card-btn-container">
              <!-- Edit button with data attribute for the post ID. -->
              <button class="icon-btn edit-btn" data-id="<%= post.id %>">
                <svg class="icon pointer">
                  <use xlink:href="/assets/icons/sprite.svg#icon-edit"></use>
                </svg>
              </button>
              <!-- Delete button with data attribute for the post ID. -->
              <button class="icon-btn delete-btn" data-id="<%= post.id %>">
                <svg class="icon pointer">
                  <use xlink:href="/assets/icons/sprite.svg#icon-delete"></use>
                </svg>
              </button>
            </div>
          </div>
          <p class="card-message"><%= post.message %></p>
        </div>
        <%}); %>
      </div>

      <!-- Footer partial -->
      <div class="footer"><%- include("../partials/footer.ejs") %></div>

      <!-- Add jQuery CDN (full version) -->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <!-- Import modular scripts -->
      <script type="module" src="/js/main.js"></script>
    </body>
  </main>
</html>
